<div class="main-slider style-two default-banner">
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <%= render "erp/hoanmy/frontend/modules/home/slider" %>
        </div>
    </div>
</div>
<% if @consultant_services.count > 0 %>
    <div class="section-full p-tb20 bg-gray">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="text-uppercase">TƯ VẤN - KHẢO SÁT ĐO ĐẠC</h2>
                <div class="wt-separator-outer">
                    <div class="wt-separator style-square">
                        <span class="separator-left bg-primary"></span>
                        <span class="separator-right bg-primary"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-100pc">
                    <div class="about-com-pic-2">
                        <%= image_tag '/hoanmy/images/surveyors-01.png', alt: 'Tư vấn và khảo sát đo đạc' %>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="about-types row">
                        <% @consultant_services.each do |consult| %>
                            <div class="col-md-4 col-sm-4 m-b20">
                                <div class="wt-icon-box-wraper bx-style-1 p-a29 center bg-white">
                                    <div class="icon-lg text-primary m-b10">
                                        <span class="icon-cell text-primary">
                                            <%= link_to (image_tag consult.icon_url.icon, alt: consult.show_name), erp_hoanmy.consult_listing_path, title: consult.show_name %>
                                        </span>
                                    </div>
                                    <div class="icon-content">
                                        <h5 class="wt-tilte">
                                            <%= link_to consult.show_name, erp_hoanmy.consult_listing_path, title: consult.show_name %>                                        
                                        </h5>
                                    </div>
                                </div>
                            </div>                        
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
            
<% if @procedure_services.count > 2 %>       
<div class="section-full bg-white p-t80 p-b50 scale-bg-top scale-bg-bottom">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="text-uppercase">THỦ TỤC ĐẤT ĐAI</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                  <span class="separator-left bg-primary"></span>
                  <span class="separator-right bg-primary"></span>
              </div>
            </div>                
        </div>
        <div class="section-content">
            <div class="owl-carousel Home-services-carousel owl-btn-vertical-center">
                <% @procedure_services.each do |procedure| %>
                    <div class="item">
                        <div class="wt-box bg-white">
                            <div class="wt-media">
                                <% if procedure.image_url.present? %>
                                <%= link_to (image_tag procedure.image_url.icon, alt: procedure.show_name),
                                            erp_hoanmy.procedure_listing_path, title: procedure.show_name %>
                                <% else %>
                                    <%= link_to (image_tag '/hoanmy/images/no-img.png', alt: procedure.show_name),
                                            erp_hoanmy.procedure_listing_path, title: procedure.show_name %>
                                <% end %>
                            </div>
                            <div class="wt-info p-tb10">
                                <h4 class="wt-title m-t0 m-b5">
                                    <%= link_to procedure.show_name, erp_hoanmy.procedure_listing_path, title: procedure.show_name %>
                                </h4>
                                <p class="text-justify"><%= procedure.description %></p>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>        
        </div>
    </div>
</div>
<% end %>

<div class="section-full  p-tb30 bg-no-repeat bg-cover " style="background-image:url(/hoanmy/images/background/bg5.jpg);">    
    <div class="container">        
        <div class="row">
            <div class="col-md-6  clearfix">
                <div class="wt-box graph-tabing">
                    <%= image_tag '/hoanmy/images/hoanmy-surveyors.svg', alt: 'Đo đạc Hoàn Mỹ' %>
                </div>                               
            </div>
            <div class="col-md-6">
                <div class="wt-box graph-part-right text-white">
                    <strong class="text-uppercase title-first display-block">ĐO ĐẠC HOÀN MỸ</strong>
                    <span class="text-uppercase text-primary display-block title-second">Lĩnh vực hoạt động</span>
                    <p class="text-justify"><strong>Chúng tôi chuyên về lĩnh vực đo đạc và bản đồ, thiết kế kiến trúc xây dựng công trình và quy hoạch đô thị.</strong></p>
                    <ul class="list-check-circle primary">
                        <li>Máy móc, trang thiết bị đo đạc hiện đại.</li>
                        <li>Đội ngũ Kỹ sư - Kiến trúc sư - Chuyên viên trong nghề với tay nghề cao.</li>
                        <li>Đo đạc - Định vị - Thiết kế - Quy hoạch phân lô theo yêu cầu.</li>
                        <li>Miễn phí tư vấn thủ tục đất đai. Kiểm tra & chia sẽ thông tin quy hoạch cơ bản.</li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
</div>

<% if @projects.count > 0 %>
<div class="section-full bg-white p-tb80 scale-bg-top scale-bg-bottom">
    <div class="container">
        <div class="section-head text-center">        
            <h2 class="text-uppercase ">DỰ ÁN THỰC HIỆN</h2>    
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>            
            <div class="filter-wrap center">
                <ul class="masonry-filter link-style  text-uppercase">
                    <li class="active"><a data-filter="*" href="#">Tất cả</a></li>
                    <li><a data-filter=".project-processing" href="javascript:void(0);">Dự án đang thực hiện</a></li>
                    <li><a data-filter=".project-completed" href="javascript:void(0);">Dự án đã hoàn thành</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="portfolio-wrap mfp-gallery no-col-gap">
                <% @projects.each do |project| %>
                    <div class="masonry-item project-<%= project.status %> col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <a href="<%= erp_hoanmy.project_detail_path(project_id: project.id, title: project.alias) %>">
                            <div class="wt-gallery-bx">
                                <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom-slow">
                                    <%= image_tag project.project_images.first.image_url.medium, alt: project.name %>
                                    <div class="overlay-bx">
                                        <div class="overlay-icon">
                                            <%= link_to '<i class="fa fa-external-link wt-icon-box-xs"></i>'.html_safe, erp_hoanmy.project_detail_path(project_id: project.id), title: project.name %>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>                    
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>