<div class="wt-bnr-inr overlay-wraper" style="background-image:url(/hoanmy/images/background/breadcrumb-banner.png);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="wt-bnr-inr-entry">
            <h1 class="text-white">Hoàn Mỹ Surveyors</h1>
        </div>
    </div>
</div>                       
<div class="bg-gray-light p-tb15">
    <div class="container">
        <ul class="wt-breadcrumb breadcrumb-style-2">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_hoanmy.root_path, title: 'Quay về trang chủ' %>
            </li>
            <li>
                <%= link_to 'Dự Án Thực Hiện', erp_hoanmy.project_listing_path, title: 'Dự Án Thực Hiện' %>
            </li>
            <li><%= truncate(strip_tags(@project.name), length: 50) %></li>
        </ul>
    </div>
</div>
<div class="section-full p-t20">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="text-uppercase">Dự Án Thực Hiện</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>            
        </div>
        <div class="row"> 
            <div class="col-md-7 col-sm-7">
                <!--Fade slider-->
                <div class="owl-carousel about-us-carousel owl-btn-vertical-center owl-dots-bottom-center">
                    <% @project.project_images.each do |project_image| %>
                        <div class="item">
                            <div class="aon-thum-bx">
                                <%= image_tag project_image.image_url.medium, alt: '' %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <!--fade slider END-->                        	
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="text-justify">
                    <h2 class="text-uppercase">Mô Tả Dự Án</h2>
                    <div class="project-detail-content text-justify">
                        <p>
                            <%= @project.content.html_safe %>
                        </p>
                    </div>
                </div>
            </div>                        
        </div>
    </div>
</div>

<div class="section-full p-t20 p-b20">
    <div class="container ">
      <div class="product-block p-a20 text-white bg-black-light">
          <div class="row">
              <div class="col-md-2 col-sm-6">
                <h5>NGÀY BẮT ĐẦU</h5>
                <p><%= @project.start_time.strftime("%d/%m/%Y") %></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h5>CHỦ ĐẦU TƯ</h5>
                <p><%= @project.investor %></p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h5>ĐỊA CHỈ</h5>
                <p><%= @project.address %></p>
            </div>
            <div class="col-md-2 col-sm-6">
                <h5>TÌNH TRẠNG</h5>
                <% if @project.status == 'processing' %>
                    <p>Đang thực hiện</p>
                <% end %>
                <% if @project.status == 'completed' %>
                    <p>Đã hoàn thành</p>
                <% end %>                
            </div>
          </div>
        </div>  
    </div>
</div>    

<% if @projects.count > 2 %>      
    <div class="section-full bg-white p-b20">
        <div class="container">
            <div class="section-head">
                <h2 class="text-uppercase">Dự Án Khác</h2>
                <div class="wt-separator-outer">
                    <div class="wt-separator style-square">
                        <span class="separator-left bg-primary"></span>
                        <span class="separator-right bg-primary"></span>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="owl-carousel portfolio-carousel-nogap mfp-gallery gallery owl-btn-vertical-center">
                    <% @projects.each do |project| %>
                    <div class="item">
                        <div class="ow-portfolio">
                            <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                <%= image_tag project.get_first_image.medium, alt: project.name %>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="<%= project.get_first_image.large %>"  class="mfp-link">
                                            <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                        </a>
                                        <a href="<%= erp_hoanmy.project_detail_path(project_id: project.id, title: project.alias) %>">
                                            <i class="fa fa-external-link wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>