<!-- INNER PAGE BANNER -->
<div class="wt-bnr-inr overlay-wraper" style="background-image:url(/hoanmy/images/background/breadcrumb-banner.png);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="wt-bnr-inr-entry">
            <h1 class="text-white">Tư Vấn Đo Đạc</h1>
        </div>
    </div>
</div>                            
<div class="bg-gray-light p-tb15">
    <div class="container">
        <ul class="wt-breadcrumb breadcrumb-style-2">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_hoanmy.root_path, title: 'Quay về trang chủ' %>
            </li>
            <li>Tư Vấn Đo Đạc</li>
        </ul>
    </div>
</div>
<div class="section-full  p-t20 p-b20 bg-gray">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="text-uppercase">Tư Vấn Đo Đạc</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>            
        </div>
        <div class="section-content no-col-gap consult">
            <div class="row">
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Tư vấn & Khảo sát</h5>
                                <p>Lập thiết kế kỹ thuật và dự toán công trình đo đạc và bản đồ chuyên ngành xây dựng, địa chính</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Đo vẽ & Thành lập</h5>
                                <p>Bản đồ địa hình tỉ lệ 1:500, 1:1000, 1:2000</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Đo vẽ & Thành lập</h5>
                                <p>Bản đồ địa chính tỉ lệ 1:500, 1:1000, 1:2000</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Xây dựng lưới địa chính</h5>
                                <p>Sử dụng công nghệ GNSS (Không xây tường vây)</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Đo đạc & Cắm mốc</h5>
                                <p>Xác định ranh giới khu đất theo pháp lý</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Đo đạc & Kiểm tra</h5>
                                <p>Diện tích xác định ranh giới khu đất đối với cá nhân, hộ gia đình và tổ chức (Theo yêu cầu)</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Định vị công trình</h5>
                                <p>Bố trí điểm ra ngoài thực địa công trình xây dựng, định vị tim cọc</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Đo vẽ lập bản đồ địa chính</h5>
                                <p>Phục vụ tách thửa, hợp thửa cấp giấy chứng nhận quyền sử dụng đất, quyền sở hữu nhà ở và tài sản khác gắn liền với đất theo yêu cầu của chủ sử dụng đất</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Đo đạc hiện trạng công trình xây dựng</h5>
                                <p>Phục vụ tách thửa, hợp thửa cấp giấy chứng nhận quyền sử dụng đất, quyền sở hữu nhà ở và tài sản khác gắn liền với đất theo yêu cầu của chủ sử dụng đất</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Lồng ghép quy hoạch chi tiết 1/500</h5>
                                <p>Phục vụ xác định phân loại đất, phục vụ thực hiện nghĩa vụ tài chính, tính thuế</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Khảo sát & Đo vẽ</h5>
                                <p>Chi tiết bản đồ địa hình trên cạn với các tỉ lệ 1/500, 1/1000, 1/2000, đường đồng mức 0.5m hoặc 1m</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Khảo sát & Đo vẽ</h5>
                                <p>Chi tiết bản đồ địa hình dưới nước</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Công tác</h5>
                                <p>Đo vẽ lập lưới khống chế mặt bằng<br>Đo lưới khống chế độ cao</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Khoan & Khảo sát địa chất</h5>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 animate_line">
                    <a href="<%=  %>" title="">
                        <div class="wt-icon-box-wraper  p-a20 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <i class="fa fa-pencil icon-cell" aria-hidden="true"></i>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase">Quan trắc lún công trình xây dựng</h5>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>