<div class="wt-bnr-inr overlay-wraper" style="background-image:url(/hoanmy/images/background/breadcrumb-banner.png);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="wt-bnr-inr-entry">
            <h1 class="text-white">TIN CHUYÊN NGÀNH</h1>
        </div>
    </div>
</div>                       
<div class="bg-gray-light p-tb15">
    <div class="container">
        <ul class="wt-breadcrumb breadcrumb-style-2">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_hoanmy.root_path, title: 'Quay về trang chủ' %>
            </li>
            <li>
                <%= link_to 'Tin Chuyên Ngành', erp_hoanmy.blog_listing_path, title: 'Tin Chuyên Ngành' %>
            </li>
            <li><%= truncate(strip_tags(@blog.name), length: 50) %></li>
        </ul>
    </div>
</div>
<div class="section-full p-t20 p-b20">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="blog-post date-style-3 blog-post-single">
                    <div class="wt-post-media wt-img-effect">
                        <%= image_tag @blog.image_url.large, alt: @blog.name %>
                    </div>
                    <div class="post-description-area p-t20">
                        <div class="wt-post-title ">
                            <h3 class="post-title"><%= @blog.name %></h3>
                        </div>
                        <div class="wt-post-text text-justify">
                            <%= @blog.content.html_safe %>
                        </div>                        
                    </div>
                </div>
                <% if @blogs.count > 3 %>
                    <div class="section-content p-t20">
                        <div class="section-head">
                            <h2 class="text-uppercase">TIN CHUYÊN NGÀNH MỚI</h2>
                            <div class="wt-separator-outer">
                                <div class="wt-separator style-square">
                                    <span class="separator-left bg-primary"></span>
                                    <span class="separator-right bg-primary"></span>
                                </div>
                            </div>
                        </div>
                        <div class="section-content">
                            <div class="owl-carousel blog-related-slider  owl-btn-vertical-center">
                                <% @blogs.each do |blog| %>
                                <div class="item">
                                     <div class="blog-post blog-grid date-style-3">
                                        <div class="wt-post-media wt-img-effect zoom-slow">
                                            <% if blog.image_url? %>
                                                <%= link_to image_tag(blog.image_url.medium, alt: blog.name),
                                                            erp_hoanmy.blog_detail_path(blog_id: blog.id, title: blog.alias), title: blog.name %>
                                            <% end %>
                                        </div>
                                        <div class="wt-post-info p-tb20 p-m20">
                                            <div class="wt-post-title ">
                                                <h3 class="post-title">
                                                    <%= link_to blog.name, erp_hoanmy.blog_detail_path(blog_id: blog.id, title: blog.alias), title: blog.name %>
                                                </h3>
                                            </div>
                                            <div class="wt-post-text text-justify">
                                                <p><%= truncate(strip_tags(blog.content.html_safe), length: 100) %></p> 
                                            </div>                                      
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-md-3">
                <%= render "erp/hoanmy/frontend/modules/blog/sidebar" %>
            </div>
        </div>
    </div>
</div>