<div class="wt-bnr-inr overlay-wraper" style="background-image:url(/hoanmy/images/background/breadcrumb-banner.png);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="wt-bnr-inr-entry">
            <h1 class="text-white">TIN CHUYÊN NGÀNH</h1>
        </div>
    </div>
</div>                       
<div class="bg-gray-light p-tb15">
    <div class="container">
        <ul class="wt-breadcrumb breadcrumb-style-2">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_hoanmy.root_path, title: 'Quay về trang chủ' %>
            </li>
            <li>
                <%= link_to 'Tin Chuyên Ngành', erp_hoanmy.blog_listing_path, title: 'Tin Chuyên Ngành' %>
            </li>
            <li>Các hệ tọa độ dùng trong xây dựng...</li>
        </ul>
    </div>
</div>
<div class="section-full p-t20 p-b20">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="blog-post date-style-3 blog-post-single">
                    <div class="wt-post-media wt-img-effect">
                        <%= image_tag '/hoanmy/images/latest-projects/thum1.jpg', alt: '' %>
                    </div>
                    <div class="post-description-area p-t20">
                        <div class="wt-post-title ">
                            <h3 class="post-title">Các hệ tọa độ dùng trong xây dựng</h3>
                        </div>
                        <div class="wt-post-text text-justify">
                            <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis Consectetur, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium vitae, consequuntur minima tempora cupiditate ratione est, ad molestias deserunt in ipsam ea quasi cum culpa adipisci dolores voluptatum fuga at! assumenda provident lorem ipsum dolor sit amet, consectetur.</p>                             
                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. <a href="#">Curabitur blandit tempus porttitor</a>. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>                                                    
                            <p class="clearfix">
                            Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis Consectetur, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium vitae, consequuntur minima tempora cupiditate ratione est, ad molestias deserunt in ipsam ea quasi cum culpa adipisci dolores voluptatum fuga at! assumenda provident lorem ipsum dolor sit amet, consectetur.</p>                            
                        </div>                        
                    </div>
                </div>                
                <div class="section-content p-t20">
                    <div class="section-head">
                        <h2 class="text-uppercase">TIN CHUYÊN NGÀNH MỚI</h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator style-square">
                                <span class="separator-left bg-primary"></span>
                                <span class="separator-right bg-primary"></span>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="owl-carousel blog-related-slider  owl-btn-vertical-center">
                            <% (0..5).each do |blog| %>
                            <div class="item">
                                 <div class="blog-post blog-grid date-style-3">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <%= link_to image_tag('/hoanmy/images/blog/grid/pic1.jpg', alt: ''), erp_hoanmy.blog_detail_path, title: '' %>
                                    </div>
                                    <div class="wt-post-info p-tb20 p-m20">
                                        <div class="wt-post-title ">
                                            <h3 class="post-title">
                                                <%= link_to 'Các hệ tọa độ dùng trong xây dựng', erp_hoanmy.blog_detail_path, title: '' %>
                                            </h3>
                                        </div>
                                        <div class="wt-post-text text-justify">
                                            <p>Giới thiệu các hệ tọa độ dùng trong xây dựng Trong xây dựng vị trí của các hạng mục công trình…</p> 
                                        </div>                                      
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <aside class="side-bar">                    
                    <div class="widget bg-white  recent-posts-entry">
                        <h4 class="widget-title">TƯ VẤN - KHẢO SÁT ĐO ĐẠC</h4>
                        <div class="section-content">
                            <div class="wt-tabs tabs-default border">
                                <div class="tab-content">                                    
                                    <div class="tab-pane active">
                                        <div class="widget-post-bx">
                                            <% (0..8).each do |blog| %>
                                                <div class="widget-post clearfix bg-gray">
                                                    <div class="wt-post-media">
                                                        <%= link_to image_tag('/hoanmy/images/blog/grid/pic1.jpg', alt: ''), erp_hoanmy.blog_detail_path, title: '' %>
                                                    </div>
                                                    <div class="wt-post-info">
                                                        <div class="wt-post-header">
                                                            <h6 class="post-title">
                                                                <%= link_to 'Đo đạc, cắm mốc xác định ranh giới khu đất', erp_hoanmy.blog_detail_path, title: '' %>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_gallery mfp-gallery">
                        <h4 class="widget-title">THƯ VIỆN ẢNH</h4>
                        <ul>
                            <% (0..11).each do |gallery| %>
                                <li>
                                    <div class="wt-post-thum">
                                        <%= link_to image_tag('/hoanmy/images/latest-projects/pic1-small.jpg', alt: ''),
                                                    '/hoanmy/images/latest-projects/pic1-large.jpg', title: '', class: 'mfp-link' %>
                                    </div>
                                </li>
                            <% end %>
                        </ul>                       
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>