<div class="wt-bnr-inr overlay-wraper" style="background-image:url(/hoanmy/images/background/breadcrumb-banner.png);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="wt-bnr-inr-entry">
            <h1 class="text-white">TIN CHUYÊN NGÀNH</h1>
        </div>
    </div>
</div>                       
<div class="bg-gray-light p-tb15">
    <div class="container">
        <ul class="wt-breadcrumb breadcrumb-style-2">
            <li>
                <%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_hoanmy.root_path, title: 'Quay về trang chủ' %>
            </li>
            <li>Tin Chuyên Ngành</li>
        </ul>
    </div>
</div>
<div class="section-full p-t20 p-b20">
    <div class="container">
        <div class="row">
            <% if @blogs.count > 0 %>
                <div class="col-md-9">
                    <div class="row">
                        <div class="portfolio-wrap wt-blog-grid-2">
                            <% @blogs.each do |blog| %>
                                <div class="post masonry-item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="blog-post blog-grid date-style-3">
                                        <div class="wt-post-media wt-img-effect zoom-slow">
                                            <% if blog.image_url? %>
                                                <%= link_to image_tag(blog.image_url.medium, alt: blog.name),
                                                            erp_hoanmy.blog_detail_path(blog_id: blog.id, title: blog.alias), title: blog.name %>
                                            <% end %>
                                        </div>
                                        <div class="wt-post-info p-tb20 p-m20 bg-white">
                                            <div class="wt-post-title ">
                                                <h3 class="post-title">
                                                    <%= link_to blog.name, erp_hoanmy.blog_detail_path(blog_id: blog.id, title: blog.alias), title: blog.name %>
                                                </h3>
                                            </div>
                                            <div class="wt-post-text">
                                                <p class="text-justify"><%= truncate(strip_tags(blog.content.html_safe), length: 100) %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="pagination-bx col-lg-12 clearfix ">
                            <div class="custom-pagination">
                                <%= erp_datalist_pagination(@blogs) %>
                            </div>                      
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <%= render "erp/hoanmy/frontend/modules/blog/sidebar" %>
                </div>
            <% else %>
                <div class="section-head text-center">
                    <h2 class="text-uppercase">Tin Chuyên Ngành</h2>
                    <div class="wt-separator-outer">
                        <div class="wt-separator style-square">
                            <span class="separator-left bg-primary"></span>
                            <span class="separator-right bg-primary"></span>
                        </div>
                    </div>            
                </div>
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <strong>Thông báo: </strong>Nội dung tin chuyên ngành đang được Hoàn Mỹ Surveyors cập nhật.
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>