<footer class="site-footer footer-dark">
    <% if params[:controller] != "erp/hoanmy/frontend/home" %>
        <!-- COLL-TO ACTION START -->
        <div class="call-to-action-wrap call-to-action-skew bg-primary bg-no-repeat" style="background-image:url(/hoanmy/images/background/bg-4.png);">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="call-to-action-left p-tb20 p-r50">
                            <h4 class="text-uppercase m-b10">Công Ty TNHH Đầu Tư Dịch Vụ Xây Dựng Hoàn Mỹ</h4>
                            <p>Liên hệ với chúng tôi để có được sự giải đáp, hỗ trợ chi tiết và nhanh chóng nhất</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="call-to-action-right p-tb30">
                            <a href="contact-1.html" class="site-button-secondry  m-r15 text-uppercase font-weight-600">
                                Gửi yêu cầu  <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    <% end %>
    <!-- FOOTER BLOCKES START -->  
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-md-6 col-sm-12">  
                    <div class="widget widget_about">
                        <h4 class="widget-title">Về Công Ty</h4>
                        <div class="logo-footer clearfix p-b15">
                            <%= link_to image_tag('/hoanmy/images/logo.png', alt: ''), erp_hoanmy.root_path, title: '' %>
                        </div>
                        <p class="text-justify intro-footer">
                            <strong>CÔNG TY TNHH ĐẦU TƯ DỊCH VỤ XÂY DỰNG HOÀN MỸ</strong> là một trong những công ty chuyên về lĩnh vực đo đạc và bản đồ, thiết kế kiến trúc xây dựng công trình và quy hoạch đô thị, là tập hợp một đội ngũ các Kỹ sư, Kiến trúc sư và các chuyên viên trong lĩnh vực đo đạc, định vị, thiết kế, quy hoạch phân lô các công trình xây dựng công cộng, công sở, các công trình xây dựng dân dụng và khu công nghiệp.
                        </p>  
                    </div>
                </div>                             
                <!-- USEFUL LINKS -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget_services">
                        <h4 class="widget-title">Liên Kết Nhanh</h4>
                        <ul>
                            <li><%= link_to 'Tư vấn đo đạc', erp_hoanmy.consult_listing_path, title: 'Tư vấn đo đạc' %></li>
                            <li><%= link_to 'Thủ tục đất đai', erp_hoanmy.procedure_listing_path, title: 'Thủ tục đất đai' %></li>
                            <li><%= link_to 'Dự án', erp_hoanmy.project_listing_path, title: '' %></li>
                            <li><%= link_to 'Thư viện ảnh', erp_hoanmy.gallery_listing_path, title: 'Thư viện ảnh' %></li>
                            <li><%= link_to 'Tin chuyên ngành', erp_hoanmy.blog_listing_path, title: '' %></li>
                        </ul>
                    </div>
                </div>
                <!-- NEWSLETTER -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget_services">
                        <h4 class="widget-title">Thông Tin Website</h4>
                        <ul>
                            <li><%= link_to 'Giới thiệu', erp_hoanmy.about_us_path, title: 'Giới thiệu' %></li>
                            <li><%= link_to 'Liên hệ', erp_hoanmy.contact_us_path, title: 'Liên hệ' %></li>
                            <li><%= link_to 'Sitemap', '', title: 'Sitemap' %></li>
                        </ul>
                    </div>
                    <!-- SOCIAL LINKS -->
                    <div class="widget widget_social_inks">
                        <h4 class="widget-title">Mạng xã hội</h4>
                        <ul class="social-icons social-square social-darkest">
                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
            
               <div class="col-md-4 col-sm-12  p-tb5">
                   <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                        <div class="icon-md text-primary">
                            <span class="iconmoon-travel"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Địa chỉ</h5>
                            <p><%= link_to '24 Nguyễn Đình Chiểu, Phường Phước Hiệp, TP. Bà Rịa, Tỉnh Bà Rịa - Vũng Tàu, Việt Nam',
                                            erp_hoanmy.contact_us_path,
                                            title: '24 Nguyễn Đình Chiểu, Phường Phước Hiệp, TP. Bà Rịa, Tỉnh Bà Rịa - Vũng Tàu, Việt Nam' %></p>
                        </div>
                   </div>
                </div>
               <div class="col-md-4 col-sm-6  p-tb5">
                   <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                        <div class="icon-md text-primary">
                            <span class="iconmoon-smartphone-1"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Số điện thoại</h5>
                            <p class="m-b0"><%= link_to '(+84) 98 643 4384', 'tel:(+84) 98 643 4384', title: '' %></p>
                            <p><%= link_to '(+84) 98 643 4384', 'tel:(+84) 98 643 4384', title: '' %></p>
                        </div>
                   </div>
               </div>
               <div class="col-md-4 col-sm-6 p-tb5">
                   <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                        <div class="icon-md text-primary">
                            <span class="iconmoon-email"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Địa chỉ email</h5>
                            <p class="m-b0"><%= mail_to 'ddhoanmybaria@gmail.com', 'ddhoanmybaria@gmail.com', title: '' %></p>
                            <p><%= mail_to 'ddhoanmybaria@gmail.com', 'ddhoanmybaria@gmail.com', title: '' %></p>
                        </div>
                    </div>
                </div>

          </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="constrot-strip"></div>
        <div class="container p-t15">
            <div class="row">
                <span class="copyrights-text">
                    &copy; 2019 <strong><%= link_to 'DODACHOANMY.VN', erp_hoanmy.root_path, title: '', target: '_blank' %></strong> - Đơn vị chủ quản: <strong>Công Ty TNHH Đầu Tư Dịch Vụ Xây Dựng Hoàn Mỹ</strong>.
                    GPĐKKD số 3502366765 do Phòng ĐKKD Sở KH&ĐT tỉnh Bà Rịa - Vũng Tàu cấp ngày 04/07/2018
                </span>
            </div>
        </div>
    </div>
</footer>